<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="PathLog" value="D:\info.log"/>
		<add key="backend" value="DAL.Repositories"/>
		<add key="backendSL" value="SL.DAL.Repositories.SqlServer"/>
		<add key="DALComponent" value="DAL"/>
		<add key="BLLComponent" value="BLL"/>
		<add key="UIComponent" value="UI"/>
	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=PCDAVID\SQLEXPRESS;Initial Catalog=Venta_Boleto;Integrated Security=True;Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>